<h2>Available drones</h2>

{{#each drones}}
<a href="/list/{{this._id}}">
     <div>{{this.name}} </div>
     <div>{{this.propellers}} </div>
     <div>{{this.speed}} </div>
</a>

<a href="/list/{{this._id}}/edit">
    <button>Edit</button>
</a>

<a href="/list/{{this._id}}/delete">
    <button>Delete</button>
</a>


{{/each}}